## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\Jared\anaconda3\envs\dev\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Dropping more or fewer columns
app_df = application_df.drop(columns=["EIN", "STATUS","SPECIAL_CONSIDERATIONS"])
app_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
app_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [4]:
# Creating more bins for rare occurrences in columns.
name_count = app_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value
names_to_replace = list(name_count[name_count < 100].index)

# Replace in dataframe
for app in names_to_replace:
    app_df['NAME'] = app_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
app_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [6]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(app_df)
dummies_df

,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_HONOR SOCIETY OF PHI KAPPA PHI,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [7]:
# Split our preprocessed data into our features and target arrays
X = dummies_df.drop(columns='IS_SUCCESSFUL')
y = dummies_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
length = X_train.shape[1]
length

144

## Compile, Train and Evaluate the Model

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, input_dim=length))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))

# Fourth hidden layer
nn_model.add(tf.keras.layers.Dense(units=16, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

WARNING:tensorflow:From C:\Users\Jared\anaconda3\envs\dev\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                2320

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 16)                272

 dense_3 (Dense)             (None, 16)                272

 dense_4 (Dense)             (None, 1)                 17

=================================================================
Total params: 3153 (12.32 KB)
Trainable params: 3153 (12.32 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [11]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\Jared\anaconda3\envs\dev\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [12]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
WARNING:tensorflow:From C:\Users\Jared\anaconda3\envs\dev\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Jared\anaconda3\envs\dev\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 1s 891us/step - loss: 0.5369 - accuracy: 0.7281
Epoch 2/50
804/804 [==============================] - 1s 827us/step - loss: 0.4978 - accuracy: 0.7538
Epoch 3/50
804/804 [==============================] - 1s 872us/step - loss: 0.4915 - accuracy: 0.7568
Epoch 4/50
804/804 [==============================] - 1s 880us/step - loss: 0.4889 - accuracy: 0.7573
Epoch 5/50
804/804 [==============================] - 1s 848us/step - loss: 0.4877 - accuracy: 0.7583
Epoch 6/50
804/804 [==============================] - 1s 888us/step - loss: 0.4860 - accuracy: 0.7586
Epoch 7/50
804/804 [==============================] - 1s 862us/step - loss: 0.4851 - accuracy: 0.7610
Epoch 8/50
804/804 [==============================] - 1s 862us/step - loss: 0.4840 - accuracy: 0.7610
Epoch 9/50
804/804 [==============================] - 1s 911us/step - loss: 0.4833 - accuracy: 0.7599
Epoch 10/50
804/804 [==============================] - 1s 890us/step - loss: 0.4829 - accuracy: 0.7610
Epoch 11/50
804/804 [==============================] - 1s 942us/step - loss: 0.4820 - accuracy: 0.7613
Epoch 12/50
804/804 [==============================] - 1s 930us/step - loss: 0.4820 - accuracy: 0.7609
Epoch 13/50
804/804 [==============================] - 1s 888us/step - loss: 0.4814 - accuracy: 0.7615
Epoch 14/50
804/804 [==============================] - 1s 855us/step - loss: 0.4811 - accuracy: 0.7626
Epoch 15/50
804/804 [==============================] - 1s 909us/step - loss: 0.4803 - accuracy: 0.7626
Epoch 16/50
804/804 [==============================] - 1s 866us/step - loss: 0.4801 - accuracy: 0.7626
Epoch 17/50
804/804 [==============================] - 1s 900us/step - loss: 0.4796 - accuracy: 0.7627
Epoch 18/50
804/804 [==============================] - 1s 912us/step - loss: 0.4797 - accuracy: 0.7638
Epoch 19/50
804/804 [==============================] - 1s 930us/step - loss: 0.4790 - accuracy: 0.7628
Epoch 20/50
804/804 [==============================] - 1s 936us/step - loss: 0.4791 - accuracy: 0.7637
Epoch 21/50
804/804 [==============================] - 1s 876us/step - loss: 0.4787 - accuracy: 0.7629
Epoch 22/50
804/804 [==============================] - 1s 960us/step - loss: 0.4785 - accuracy: 0.7640
Epoch 23/50
804/804 [==============================] - 1s 984us/step - loss: 0.4778 - accuracy: 0.7635
Epoch 24/50
804/804 [==============================] - 1s 950us/step - loss: 0.4782 - accuracy: 0.7638
Epoch 25/50
804/804 [==============================] - 1s 932us/step - loss: 0.4778 - accuracy: 0.7640
Epoch 26/50
804/804 [==============================] - 1s 879us/step - loss: 0.4774 - accuracy: 0.7635
Epoch 27/50
804/804 [==============================] - 1s 907us/step - loss: 0.4772 - accuracy: 0.7635
Epoch 28/50
804/804 [==============================] - 1s 881us/step - loss: 0.4770 - accuracy: 0.7642
Epoch 29/50
804/804 [==============================] - 1s 864us/step - loss: 0.4769 - accuracy: 0.7638
Epoch 30/50
804/804 [==============================] - 1s 846us/step - loss: 0.4768 - accuracy: 0.7646
Epoch 31/50
804/804 [==============================] - 1s 983us/step - loss: 0.4766 - accuracy: 0.7636
Epoch 32/50
804/804 [==============================] - 1s 874us/step - loss: 0.4760 - accuracy: 0.7632
Epoch 33/50
804/804 [==============================] - 1s 805us/step - loss: 0.4763 - accuracy: 0.7648
Epoch 34/50
804/804 [==============================] - 1s 785us/step - loss: 0.4758 - accuracy: 0.7653
Epoch 35/50
804/804 [==============================] - 1s 802us/step - loss: 0.4757 - accuracy: 0.7647
Epoch 36/50
804/804 [==============================] - 1s 803us/step - loss: 0.4760 - accuracy: 0.7635
Epoch 37/50
804/804 [==============================] - 1s 791us/step - loss: 0.4752 - accuracy: 0.7653
Epoch 38/50
804/804 [==============================] - 1s 787us/step - loss: 0.4753 - accuracy: 0.7646
Epoch 39/50
804/804 [==============================] - 1s 822us/step - loss: 0.4751 - accuracy: 0.7652
Epoch 40/50
804/804 [==============================] - 1s 838us/step - loss: 0.4750 - accuracy: 0.7644
Epoch 41/50
804/804 [==============================] - 1s 829us/step - loss: 0.4746 - accuracy: 0.7649
Epoch 42/50
804/804 [==============================] - 1s 830us/step - loss: 0.4744 - accuracy: 0.7642
Epoch 43/50
804/804 [==============================] - 1s 806us/step - loss: 0.4738 - accuracy: 0.7653
Epoch 44/50
804/804 [==============================] - 1s 837us/step - loss: 0.4745 - accuracy: 0.7657
Epoch 45/50
804/804 [==============================] - 1s 823us/step - loss: 0.4741 - accuracy: 0.7650
Epoch 46/50
804/804 [==============================] - 1s 806us/step - loss: 0.4740 - accuracy: 0.7661
Epoch 47/50
804/804 [==============================] - 1s 784us/step - loss: 0.4738 - accuracy: 0.7648
Epoch 48/50
804/804 [==============================] - 1s 813us/step - loss: 0.4737 - accuracy: 0.7637
Epoch 49/50
804/804 [==============================] - 1s 881us/step - loss: 0.4735 - accuracy: 0.7651
Epoch 50/50
804/804 [==============================] - 1s 814us/step - loss: 0.4735 - accuracy: 0.7628

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4960 - accuracy: 0.7536 - 270ms/epoch - 1ms/step
Loss: 0.49598732590675354, Accuracy: 0.7535859942436218

In [14]:
# Export our model to HDF5 file
nn_model.save(AlphabetSoupCharity_Optimization.h5")

SyntaxError: unterminated string literal (detected at line 2) (4111247231.py, line 2)